/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón de Iniciar Sesión */
#entrar {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para el botón de Iniciar Sesión al pasar el mouse por encima */
#entrar:hover {
    background-color: #0056b3;
}

/* Estilo para centrar los elementos en la página */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo para los campos de salida y entrada */
output {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón "Iniciar Sesión" */
input[type="button"]#Guardar {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para el botón "Limpiar" */
input[type="button"]#limpiar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para los botones al pasar el mouse por encima */
input[type="button"]:hover {
    filter: brightness(0.9);
}
