<div id="body">

    <p>{{ranking}}</p>
    @if (abierto1) {
        <p>Hola</p>
    }@else {
        <a routerLink="ranking"><img src="../../assets/1.jpeg" (click)="alerta1()"></a>
    }
    <p>{{misdatos}}</p>
    @if (abierto2) {
        <p>Hola</p>
    }@else {

        <a routerLink="datos"><img src="../../assets/2.jpeg" (click)="alerta2()"></a>
    }
    <p>{{jugar}}</p>
    @if (abierto3) {
        <p>Hola</p>
    }@else {
        <a routerLink="jugar"><img src="../../assets/3.jpeg" (click)="alerta3()"></a>
    }
</div>