<h2>Formulario de mis datos</h2>

<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">

    <label>
        Nombre
        <input type="text" formControlName="nombre"  />
    </label>
    <label>
        Apellidos
        <input type="text" formControlName="apellidos" />
    </label>
    <label>
        Nick
        <input type="text" formControlName="nick" />
    </label>
    <label>
        Email
        <input type="email" formControlName="email" />
    </label>
    <label>
        Password
        <input type="password" formControlName="password" />
    </label>

    <button type="submit">Guardar datos</button>
</form>

<h2>Mis datos</h2>

<ul>
    <li>Nombre: {{ profileForm.value.nombre }}</li>
    <li>Apellidos: {{ profileForm.value.apellidos }}</li>
    <li>Nick: {{ profileForm.value.nick }}</li>
    <li>Email: {{ profileForm.value.email }}</li>
    <li>Password: {{ profileForm.value.password }}</li>
</ul>    